h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color: #33ccff;
}
18Y1F VERA QUEK ZI QI:  h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color: #33ccff;
}
